*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* GET IN TOUCH */
.contact_container_grid {
  display: grid;
  width: 100%;
  height: 100rem;
}

.touch_image {
  width: 100vw;
  /* background: #12c2e9; */
}

.touch_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.touch_form {
  width: 100vw;
  /* background-color: #c471ed; */
}

.contact_me_img {
  width: 50vw;
  height: 50vh;
}

.get_in_touch {
  width: 100%;
  color: var(--font-white-static);
  font-size: 2.5rem;
  text-align: center;
}

.input_form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column;
}

input:focus {
  outline: none;
  background: none;
}

.user_input {
  width: 90%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--font-white-static);
  height: 5rem;
  border-radius: 1rem;
  padding-left: 2rem;
  margin-bottom: 2.5rem;
  color: #fff;
}

.message_input {
  height: 15rem;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--font-white-static);
}

.send_btn {
  width: 12rem;
  height: 4rem;
  outline: none;
  border-width: 0;
  font-size: 2rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.send_btn:hover {
  background: #fc6d6d;
}

@media screen and (min-width: 768px) {
  .contact_container_grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .get_in_touch {
    font-size: 3.5rem;
  }

  .touch_image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user_input {
    width: 35vw;
    height: 6rem;
  }

  .message_input {
    height: 15rem;
  }

  .touch_form {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact_container_grid {
    height: 70rem;
  }
}

/* Social Media Connect */

.find_me_container {
  width: 80%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  background: #ffe6f7;
  margin: auto;
  margin-bottom: 5rem;
}

.connect_grid {
  display: grid;
  width: 100%;
}

.urls {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 4rem;
  margin-top: 3rem;
  font-weight: 800;
}

.professional_icon {
  width: 24%;
  height: 99%;
  filter: grayscale(100%);
}

.professional_icon:hover {
  filter: grayscale(0%);
}

.social_media {
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .connect_grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .find_me_container {
    height: 30rem;
  }
}
